/* Reset simple */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--Blue-950);
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}
:root {
  --Blue-200: hsl(193, 38%, 86%);
  --Green-300: hsl(150, 100%, 66%);
  --Blue-600: hsl(217, 19%, 38%);
  --Blue-900: hsl(217, 19%, 24%);
  --Blue-950: hsl(218, 23%, 16%);
}
/* style */
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--Blue-900);
  padding: 2rem;
  border-radius: 10px;
  min-height: 300px;
}

article img {
  width: 100%;
  height: auto;
}
article .advice-generator {
  width: 25%;
  height: auto;
  background-color: var(--Green-300);
  padding: 1.7rem;
  border-radius: 50%;
  position: absolute;
  bottom: 32%;
  left: 50%;
  transform: translateX(-50%);
}
.advice-generator:hover {
    box-shadow: 0 0 30px var(--Green-300);
}
.number-advice{
  color: var(--Green-300);
    padding-bottom: 2rem;
}
.advice{
  color: var(--Blue-200);
  padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
    article .advice-generator {
  width: 5%;
  height: auto;
  background-color: var(--Green-300);
  padding: 1.7rem;
  border-radius: 50%;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
}
}