/* Reset simple */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  padding: 20px;
}
:root {
  --Blue-200: hsl(193, 38%, 86%);
  --Green-300: hsl(150, 100%, 66%);
  --Blue-600: hsl(217, 19%, 38%);
  --Blue-900: hsl(217, 19%, 24%);
  --Blue-950: hsl(218, 23%, 16%);
}
/* style */
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article img {
  width: 40%;
  height: auto;
}
article .advice-generator {
  width: 5%;
  height: auto;
}
